body{
  padding-top: 50px;
font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: black;
}

h1, h2, h4 {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h2, h4 {
    font-size: 1.5em;
}
    
    
.label {
   color: white;
}


.navbar-collapse {
  background-color: #fff;
}

.products {
    margin-top: 150px;
}

.jumbotron {

  padding-top: 200px;
  padding-bottom: 1190px;
  background-color: #000;
  color: #fff;
}

.navbar  {
  background-color: #fff;
  margin-bottom: 100px;
  color: black;
}

.navbar-inverse .navbar-nav > li{
  margin-left: 165px;
}


nav ul li a:hover {
  color: black;
}

ul.nav.navbar-nav {
    margin-left: 10px;

}

a:hover {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
}

.logo {
    margin: 0 auto;
    width: 800px;
    display: block;
}

.col-md-4 {
  margin-top: 100px;
  float: left;
}

h2 {
  color: #fff;
}

.image-container1 {
  float: left;
}


.image-container1 .img1 {
  float: left;
  opacity: 1;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}


.image-container1:hover  .img1 {
  opacity: 0;
}

.image-container1 .img11{
    position: absolute;
   margin-left: -650px;
   opacity:0;
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;
   transition: opacity 200ms linear;
}

.image-container1:hover .img11{
  opacity: 1;
}


.image-container2 {
  float: right;
}

.image-container2 .img2 {
  float: right;
  opacity: 1;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

.image-container2:hover  .img2 {
  opacity:0;
}

.image-container2 .img22{
position: absolute;
  opacity:0;
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;
   transition: opacity 200ms linear;
}

.image-container2:hover .img22{
  opacity:1;
}

.image-container3 {
  float: left;
}


.image-container3 .img3 {
  float: left;
  opacity: 1;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}


.image-container3:hover  .img3 {
  opacity: 0;
}

.image-container3 .img33{
    position: absolute;
   margin-left: -315px;
   margin-top: 20px;
   opacity:0;
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;
   transition: opacity 200ms linear;
}

.image-container3:hover .img33{
  opacity: 1;
}

.image-container4 {
  float: left;
}


.image-container4 .img4 {
  float: left;
  opacity: 1;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}


.image-container4:hover  .img4 {
  opacity: 0;
}

.image-container4 .img44{
    position: absolute;
   margin-left: -315px;
   margin-top: 20px;
   opacity:0;
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;
   transition: opacity 200ms linear;
}

.image-container4:hover .img44{
  opacity: 1;
}

.image-container5 {
  float: left;
}

.row {
  margin-top: 100px;
}

.control-label {
  font-weight: normal;
}

.image-container5 .img5 {
  float: left;
  opacity: 1;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}


.image-container5:hover  .img5 {
  opacity: 0;
}

.image-container5 .img55{
    position: absolute;
   margin-left: -1020px;
   margin-top: 20px;
   opacity:0;
   -webkit-transition: opacity 200ms linear;
   -moz-transition: opacity 200ms linear;
   -o-transition: opacity 200ms linear;
   -ms-transition: opacity 200ms linear;
   transition: opacity 200ms linear;
}

.image-container5:hover .img55{
  opacity: 1;
}

.container {
  margin-top: 10px;
}


.img3 {

  float: left;
  margin-top: 20px;

}

.img4 {
  margin-top: 20px;
  margin-left: 20px;
}

.img5 {
  margin-top: 20px;
}


.btn  {
  background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    width: 100%;
    background-color: white;
    color: black;
    padding: 50px;
}
footer h3{
    display: inline-block;
    border-bottom: 1px solid black;
}
footer ul {
    list-style: none;
    padding: 0;
}
i{
    color: black;
}
.SMedia li{
    display:inline;
    margin-right: 0.5em;
}

.footer {
    width: 100%;
    background-color: white;
    min-height: 227px;
}

.col-md-3 Kund {
    margin-left: 300px;
}

.container-fluid {
    padding: 0;
    height: 100%;
    background-color: white;
    margin: 0;
}

.col-md-3 SMedia {
    height: 227px;
}

.body-content {
    min-height: 75vh;
}

form-group {
    color: white;
}

a {
    color: black;
}
.fa-facebook-square {
    color: #3B5998;
}
.fa-pinterest-square {
    color: #CC2025;
}
#Instagram{
    max-width: 58px;
    padding-bottom: 20px;
}

.btn btn-default {
    color: white;
}

.body-content {
    color: white;
}

.register {
    padding-top: 90px;
}

.img-responsive {
    width: 300px;

}

.desc, span {
    color: white;
}

.produkt {
    border: 2px solid white;
    width: 340px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 100px;
}

.produkt:nth-child(odd) {
    float: right;
    margin-right: 150px;
}

.produkt:nth-child(even) {
    float: left;
    margin-left: 150px;
}

#search {
    margin-left: 35%;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}


.search {
    width: 1140px;
}
#searchbutton {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    width: 50px;
}

#searchbutton:hover {
    background-color: #eee;
}

.form-horizontal-create {
    margin-top: 100px;
}

.form-control {
    margin-bottom: 10px;
}

.form-horizontal {
    width: 1140px;
}